<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Agregar Empresa</h2>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label>Id:</label>
                    <input type="text" class="form-control" name="id" [(ngModel)]="empresa.id"> <!--ngModel es un  enlace, entre algo que tienes en la definición del componente con un campo de formulario del template (vista) del componente. Nota: "model" en ngModel viene de lo que se conoce como el modelo en el MVC-->
                </div>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="empresa.nombre">
                </div>
                <div class="form-group">
                    <label>Telefono:</label>
                    <input type="text" class="form-control" name="telefono" [(ngModel)]="empresa.telefono">
                </div>
                <div class="form-group">
                    <label>Precio:</label>
                    <input type="text" class="form-control" name="precio" [(ngModel)]="empresa.precio">
                </div>
                <button class="btn btn-success" (click)="Guardar()">Guardar</button>
            </form>
        </div>
    </div>
</div>